@font-face {
  font-family: Muller Light; /* Имя шрифта */
  src: url(Fonts/Muller-Thin-DEMO_0.otf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Kaushan Script; /* Имя шрифта */
  src: url(Fonts/KaushanScript-Regular.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Russo One; /* Имя шрифта */
  src: url(Fonts/RussoOne-Regular.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Muller-Bold; /* Имя шрифта */
  src: url(Fonts/MullerBold.otf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Muller-Regular; /* Имя шрифта */
  src: url(Fonts/MullerRegular.otf); /* Путь к файлу со шрифтом */
}
